<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_menuoption_label} :</strong></p></td>
            <td><p>{cd_menuoption}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nombre_label} :</strong></p></td>
            <td><p>{nombre}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{href_label} :</strong></p></td>
            <td><p>{href}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_funcion_label} :</strong></p></td>
            <td><p>{cd_funcion}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{orden_label} :</strong></p></td>
            <td><p>{orden}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_menugroup_label} :</strong></p></td>
            <td><p>{cd_menugroup}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cssclass_label} :</strong></p></td>
            <td><p>{cssclass}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{descripcion_panel_label} :</strong></p></td>
            <td><p>{descripcion_panel}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
