<!-- BEGIN: main -->
<style>

body{
 background: none;
}

.jfVal, .jValSpacercover {
    display: none;
}

</style>
<div id="login-container">

<div id="login-box">
<center>
<H2 style="cursor:pointer;" onclick="javascript:window.location.href= 'doAction?action=login_init';">{titulo}</H2>
<h1>{subtitulo}</h1></center>

	<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 6pt .7em;"> 
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
			{message}			
		</p>
	</div>
	<br /><br />
	<div style="width:100%;text-align: center;">
	<button value="{btn_ingresar}" type="button" onclick="javascript:window.location.href= 'doAction?action=login_init';">{btn_ingresar}</button>
	</div>
</div>
</div>		
<!-- END: main -->