<!-- BEGIN: main -->
<style>

body{
 background: none;
}

.jfVal, .jValSpacercover {
    display: none;
}

</style>
<div id="login-container">

<!-- BEGIN: msg_error -->
<script type="text/javascript">
showMessageError('{msg}', true);
</script>	
<!-- END: msg_error -->

<div id="login-box">
<center>
<H2 style="cursor:pointer;" onclick="javascript:window.location.href= 'doAction?action=login_init';">{titulo}</H2>
<h1>{subtitulo}</h1></center>

	<form name='forgotpassword' id='forgotpassword' action='{WEB_PATH}{forgot_password_action}' onsubmit="return validate('forgotpassword');" method='post'>

		<table>
			<tr>
                <td colspan="2">
                        {txt_forgot_password}
                </td>
			</tr>			
			<tr>
                <td colspan="2">
                        &nbsp;
                </td>
			</tr>			
            <tr>
                <td width="30%" align="right">{txt_email} *:</td>
                <td align="left">
                    <input type='text' class="form-login" name='ds_email' id='ds_email' value='{ds_email}'  size='40'
                           jVal="{valid:function (val) { return required(val,'{txt_fill_email}'); }}"/>
                </td>
            </tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<button value="{btn_reset_password}" class="forgot_password" type="submit" id="forgot_password">{btn_reset_password}</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div>(*) {txt_required_fields}</div>
				</td>
			</tr>
			
		</table>
	    
	</form>
</div>
</div>		
<!-- END: main -->