<!-- BEGIN:main -->
<div id="editar">
	<div align="justify"><p class="titulo">{titulo}</p></div>

	<!-- BEGIN:msj -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msj}
		</p>
	</div>
	<br />
	<!-- END:msj -->

	<form name='editarmenuoption' id='editarmenuoption' action='doAction?action={submit}' method='post' onsubmit="return validate('editarmenuoption');">
		
		<table>
			<tr>
				<td align="right">{cd_menuoption_label}:</td>
				<td align="left">
					{cd_menuoption}
					<input type="hidden" readonly name="cd_menuoption" id="cd_menuoption" value="{cd_menuoption}"/>
				</td>
			</tr>
						
			<tr>
				<td align="right">{nombre_label} *</td>
				<td align="left">
					<input type='text' name='nombre' id='nombre' size='40' value="{nombre}" jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}"/>
				</td>
			</tr>
						
			<tr>
				<td align="right">{href_label} *</td>
				<td align="left">
					<input type='text' name='href' id='href' size='40' value="{href}" jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}"/>
				</td>
			</tr>
			
						
			<tr>
				<td align="right">{cd_funcion_label}</td>
				<td align="left">
					<select name='cd_funcion' id='cd_funcion'>
						<option value="null"> -- Seleccionar -- </option>
						<!-- BEGIN: funciones_option -->				
						<option value={cd_funcion}>{ds_funcion}</option>
						<!-- END: funciones_option -->
					</select>
				</td>
			</tr>
						
			<tr>
				<td align="right">{orden_label}</td>
				<td align="left">
					<input type='text' name='orden' id='orden' size='40' value="{orden}"/>
				</td>
			</tr>
						
			<tr>
				<td align="right">{cssclass_label}</td>
				<td align="left">
					<input type='text' name='cssclass' id='cssclass' size='40' value="{cssclass}"/>
				</td>
			</tr>
						
			<tr>
				<td align="right">{descripcion_panel_label}</td>
				<td align="left">
					<input type='text' name='descripcion_panel' id='descripcion_panel' size='40' value="{descripcion_panel}"/>
				</td>
			</tr>
			
			
						
			<tr>
				<td align="right">{cd_menugroup_label}</td>
				<td align="left">
					<select name='cd_menugroup' id='cd_menugroup'>
						<option value=""> -- Seleccionar -- </option>
						<!-- BEGIN: menugroups_option -->				
						<option value={cd_menuGroup}>{ds_menuGroup}</option>
						<!-- END: menugroups_option -->
					</select>
				</td>
			</tr>
			
		</table>
		
		<p style="text-align:center">
			<input type='submit' name='submit' value='Aceptar'/>
			<input type='reset' name='cancelar' value='Cancelar' onclick="javascript:window.location.href= 'doAction?action=listar_menuoptions';"/>
		</p>
		
		
	</form>		
	<div class="camposRequeridos">(*) Campos requeridos</div>
</div>
<!-- END:main -->
