<!-- BEGIN: main -->
<div class="tablaCentro">
<!-- BEGIN: header -->
<div>{header}</div>
<!-- END: header -->
<table border="1">
	<tr>
		<!-- BEGIN: TH -->		
		<th bgcolor="#DADADA"><p style='text-align:center; font-size:20px; font-family:arial'>{encabezado}</p></th>
		<!-- END: TH -->
	</tr>
	<!-- BEGIN: row -->
	<tr>
		<!-- BEGIN: column -->
		<td><p style='font-size:20px; font-family:arial'>{value}</p></td>
		<!-- END: column -->
	</tr>
	<!-- END: row -->
</table>
<!-- BEGIN: footer -->
<div>{footer}</div>
<!-- END: footer -->
</div>

<!-- END: main -->