<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_registracion_label} :</strong></p></td>
            <td><p>{cd_registracion}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_codigoactivacion_label} :</strong></p></td>
            <td><p>{ds_codigoactivacion}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_fecha_label} :</strong></p></td>
            <td><p>{dt_fecha}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_nomusuario_label} :</strong></p></td>
            <td><p>{ds_nomusuario}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_apynom_label} :</strong></p></td>
            <td><p>{ds_apynom}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_mail_label} :</strong></p></td>
            <td><p>{ds_mail}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_password_label} :</strong></p></td>
            <td><p>{ds_password}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_pais_label} :</strong></p></td>
            <td><p>{cd_pais}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_telefono_label} :</strong></p></td>
            <td><p>{ds_telefono}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_domicilio_label} :</strong></p></td>
            <td><p>{ds_domicilio}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
