<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_accionfuncion_label} :</strong></p></td>
            <td><p>{cd_accionfuncion}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_funcion_label} :</strong></p></td>
            <td><p>{cd_funcion}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_accion_label} :</strong></p></td>
            <td><p>{ds_accion}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
